body { font-family: Arial, sans-serif; line-height: 1.6; max-width: 900px; margin: 10px auto 40px; background-color: #fdfcfb; }
.select-p {margin: 0 0 10px;}
select {font-size: 1em;}
.section-block { background: white; padding: 20px 20px 5px; margin: 0 0 30px; border-radius: 15px; box-shadow: 0 4px 20px rgba(0,0,0,0.05); border: 1px solid #e0e0e0; }
h1 { color: #444; text-align: center; margin: 0 0 20px; border-bottom: 3px solid #6c757d; display: inline-block; width: 100%; padding-bottom: 4px; }
h2 { color: #2c3e50; font-size: 1.4em; margin: 0 0 5px; }
.q-title {font-size: 1.2em; margin: 20px 0 0;}
.q-item { margin: 0 0 15px; padding: 10px 15px; border-left: 4px solid #95a5a6; background-color: #f9f9f9; }
.q-text { font-weight: bold; font-size: 1.1em; color: #333; margin: 0 0 10px; display: block; }

.quiz-image { max-width: 100%; height: 300px; margin: 0 auto 10px; border: 1px solid #ddd; display: block; }

textarea {
    width: 100%; height: 100px; padding: 12px; border: 2px solid #ddd; border-radius: 8px;
    font-size: 16px; font-family: inherit; resize: vertical; box-sizing: border-box; transition: border-color 0.3s;
}
textarea:focus { border-color: #e67e22; outline: none; background-color: #fffaf5; }
code {font-size: 16px;}
.btn-ans {
    background: #e67e22; color: white; border: none; padding: 10px 20px; border-radius: 5px;
    cursor: pointer; font-weight: bold; margin-top: 10px; transition: 0.3s;
}
.btn-ans:hover { background: #d35400; }
.sample-answer-area {
    margin-top: 15px; padding: 15px; border-radius: 8px; display: none;
    background-color: #fff3e0; border: 1px solid #ffcc80; color: #795548;
}
.ans-label { font-weight: bold; color: #d84315; display: block; margin-bottom: 5px; }

.edit-guide { background: #eee; padding: 15px; border-radius: 8px; font-size: 0.9em; margin-bottom: 25px; }
